.explore-products {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.explore-products .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.explore-products .header h1 {
    font-size: 24px;
    margin: 0;
}
.our-view-all-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.explore-products .header .view-all-btn {
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.explore-products .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.explore-products .product-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.explore-products .product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.explore-products .product-info h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.explore-products .price {
    font-size: 1rem;
    margin: 5px 0;
}

.explore-products .current-price {
    color: #ff5252;
    font-weight: bold;
}

.explore-products .original-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.explore-products .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.explore-products .rating .stars {
    color: #000000;
    margin-right: 5px;
}

.explore-products .product-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.explore-products .wishlist-btn,
.explore-products .view-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.explore-products .new-label {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
.view-btn {
    background-color: #ff1900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
