/* Banner.css */
.home-banner-container {
  display: flex;
  margin-top: 20px; /* Adjust spacing as needed */
  cursor: pointer;
}

.home-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid #000000;
  padding-left: 80px;
}

.home-sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home-sidebar-menu li {
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-banner {
  flex-grow: 1;
  padding: 80px;
  overflow-x: scroll;
  background-color: #fefefe;
  padding-right: 80px;
}

.home-banner-scroll {
  display: flex;
}

.home-banner-image {
  max-height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.home-banner-image:last-child {
  margin-right: 0;
}
